<img src="img/logo.png" width="70%" style="margin-top: 20%; margin-bottom:20%;">
<div>
	<div style="margin-top: 15px; margin-bottom: 15px; color: #fff" id="text_lenguaje_sel">Select Languaje</div>
	<select class="input_text" data-role="none" id="seleccion_idioma" style="color: #fff;">
		<option value="1">English</option>
        <option value="3">Español</option>
        <option value="4">Francais</option>
		<option value="5">Türk</option>
        <!--
        <option value="2">Deutsch</option>
		
		<option value="5">Italian</option>
        -->
	</select>
</div>
<div align="center" style="position: fixed; width: 100%; bottom: 30px; left: 0;">
    <input type="button" name="" data-role="none" value="Next" class="bt_blanco bt_nex" onclick="Seleccionar_Idioma();" >
</div>