<img src="img/icono_advertencia_amarillo.png" width="50"><br>
<input type="text" id="key_pass_dia" class="input_text" style=" margin-top: 20%; margin-bottom: 20%;" placeholder="Key in Supervisor PIN">
<input type="hidden" id="key_seccion">

<div align="center">
	<input type="button" data-role="none" value="Ok" class="bt_verde" onclick="Validar_Key()" style="width: 90%">
	<input type="button" data-role="none" value="Cancel" class="bt_rojo bt_cancelar" onclick="Ocultar_PopUpValidarPass()" style="width: 90%;">
</div>

                