<img src="img/icono_advertencia_amarillo.png" width="50">
<div class="parrafos">
    <div id="text_tour_crear">
        Do you want to create an entierely new site or add a checkpoint to an existing site?
    </div>

    <div align="center">
        <input type="button" data-role="none" value="New Site" class="bt_verde bt_nuevo_sitio" onclick="Ocultar_PopUp_Crear_Tour(); Ir_Crear_Sitio()" style="width: 90%">
        <input type="button" data-role="none" value="Existing Site" class="bt_verde bt_sitio_existente" onclick="Ocultar_PopUp_Crear_Tour(); Ir_Sitios()" style="width: 90%">
        <input type="button" data-role="none" value="Cancel" class="bt_rojo bt_cancelar" onclick="Ocultar_PopUp_Crear_Tour()" style="width: 90%">
    </div>
</div>